
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Nodejs Mysql CRUD</title>
    <!-- NAVIGATION -->
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="https://raw.githubusercontent.com/jonathancplusplus/crud-nodejs-contratado/master/src/public/css/style_sidebar.css">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script type="text/javascript">
        var init = true;
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });
            $('#sidebarCollapse').on('click', function () {
                var texto = document.getElementById('text_sidebar');
                texto.textContent= (init)?"mostrar barra":"ocultar barra";
                init = !init;
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
  </head>
  <body>

    <!-- navigation -->


        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>Operaciones</h3>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="#ubicaciones" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Ubicaciones</a>
                        <ul class="collapse list-unstyled" id="ubicaciones">
                            <li>
                                <a href="#">Paises</a>
                            </li>
                            <li>
                                <a href="#">Departamentos</a>
                            </li>
                            <li>
                                <a href="#">Municipios</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#user" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Usuario</a>
                        <ul class="collapse list-unstyled" id="user">
                            <li>
                                <a href="#">Usuario</a>
                            </li>
                            <li>
                                <a href="#">Referencias</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#clasificacion" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clasificación</a>
                        <ul class="collapse list-unstyled" id="clasificacion">
                            <li>
                                <a href="/category">Categorias</a>
                            </li>
                            <li>
                                <a href="/subcategory">Subcategorias</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#feedback" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Feedback</a>
                        <ul class="collapse list-unstyled" id="feedback">
                            <li>
                                <a href="#">Puntuacion</a>
                            </li>
                            <li>
                                <a href="#">Comentarios</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#experiencia" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Socialización</a>
                        <ul class="collapse list-unstyled" id="experiencia">
                            <li>
                                <a href="#">Acuerdos</a>
                            </li>
                            <li>
                                <a href="#">Quejas</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <!-- Page Content  -->
            <div id="content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <i class="fas fa-align-left"></i>
                            <span id="text_sidebar">ocultar barra</span>
                        </button>
                        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fas fa-align-justify"></i>
                        </button>
                    </div>
                    <a class="navbar-brand" href="/">CRUD CONTRATADO</a>
                </nav>
